*{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
.navigation {
  padding: 50px;
  background-color: #12273d;
  width: 100%;
  margin-bottom: 40px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: white;
}
li:nth-child(1){
  font-size: 40px;
  font-weight: bolder;
}
.list{
  padding-top: 10px;
  font-weight: 800;
  color:white;
  font-size: 18px;
}

header, main{
  text-align: center;
  padding-top: 70px;
}
h1 + h2 {
  margin-top: 25px;
}
.land_logo{
  color: blue;
}
.main{
  text-align: center;
  margin: 40px auto;
  max-width: 400px;
  line-height: 40px;
  
}
header{
  background-image: url(./assets/landbg.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 25rem;
}
#featured{
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}
.float{
  float: left;
  width: 23%;
  margin: 5%;
  height: 600px;
  line-height: 30px;
  background-color: white;
}
section > h3 {
  padding-top: 15px;
}
.consult{
  clear: both;
  display: flex;
  justify-content: center;
  background-color: #12273d;
  padding: 50px;
  color:white;
  
}
h3 + a {
  /* margin: 2px; */
  max-width: 30%;
  text-align: center;
}
button {
  border: 2px solid white;
  border-radius: 5%;
  color: white;
  background-color: #12273d;
  padding: 15px 45px ;
  cursor: pointer;
  font-size: larger;
  margin-left: 40px;
}
button:hover{
  color: gray;
  border: 4px solid whitesmoke;
}

.float_footer{
  float: left;
  width: 23%;
  margin: 5%;
  height: 250px;
  line-height: 30px;
}
footer {
  background-color: #12273d;
  color: white;
  clear: both;
}
#footer_p{
  text-align: center;
  border-top: 2px solid gray;
  width: 90%;
  padding: 30px;
  clear: both;
  margin: 0 auto;
 
}
hr{
  color: white;
}
a {
  text-decoration: none;
  color: white;
  }
a:hover{
  color: blue;
}
/* a:visited{
  color: white;
} */
footer a {
  color: white;
}
.feature img {
  width: 300px;
  height: 226px;
  object-fit: cover;
}
.float_footer img {
  width: 90px;
  height: 40px;
  object-fit: cover;
}
.float_contact {
  float: left;
  width: 45%;
  height: 400px;
  padding: 30px;

}
input {
 display: block;
 padding : 10px;
 width: 500px;
 margin: 20px 4px;
border: 1px solid gray;
border-radius: 5px;
}
button[type='submit']{
  border:none;
  background-color: #0075e3;
  width: 500px;
  margin: 4px;
  border-radius: 5px;
}
main {
  padding: 0px;
}
.contact_details {
  display: block;
}
.contact_details.details {
  margin-top: 30px;
}
.getInTouch {
  line-height: 25px;
}
img[src*="/whatsapp icon.png"]{
  width: 40px;
  height: 40px;
}
img[src*="/phone_logo.jpg"]{
  width: 40px;
  height: 40px;
  background-color: none;
}
img[src*="/address icon.png"], img[src*="/clock.png"], img[src*="phone_icon.png"], img[src*="/email.png"] {
  width: 17px;
  height: 17px;
  
}
img[src*="/4 star rating.png"]{
  width: 25%;
  height: 25%;
}